<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Narrow It Down!</title>
</head>
<body ng-app="NarrowItDownApp">
    <div ng-controller="NarrowItDownController as nidCtrl">
        <div class="search-bar">
            <input type="text" ng-model="nidCtrl.search">
            <button type="button" ng-click="nidCtrl.narrowItDown()">Narrow It Down For Me!</button>
        </div>
        <div ng-if="nidCtrl.searching">
            <p>Searching...</p>
        </div>
        <div ng-if="!nidCtrl.searching && nidCtrl.searchDone && !nidCtrl.results.length">
            <p>Nothing found!</p>
        </div>
        <div ng-if="!nidCtrl.searching && nidCtrl.results.length">
            <found-items
                found="nidCtrl.results"
                on-remove="nidCtrl.removeResult(index)"
            ></found-items>
        </div>
    </div>
</body>
</html>